.banner {
  position: relative;
  width: 50vw;
  height: 50vh;
  transform: translateX(50%);
  background-color: whitesmoke;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border: 2px double #5b5b5b;
  overflow: hidden;
  margin-top: 100px;
  .imgBox {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    img {
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background-position: center;
      object-fit: cover;
      opacity: 0;
      transition: all 300ms linear;
      -webkit-transition: all 300ms linear;
      -moz-transition: all 300ms linear;
      -ms-transition: all 300ms linear;
      -o-transition: all 300ms linear;
    }
    .active {
      opacity: 1;
    }
    .none {
      opacity: 0;
    }
  }
  .control {
    list-style: none;
    cursor: pointer;
    .n1 {
      position: absolute;
      top: 50%;
      left: 5px;
      transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      width: 80px;
      height: 60px;
      background-color: #2b2b2b9f;
      color: whitesmoke;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 40px;
      border-radius: 10px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      -o-border-radius: 10px;
      transition-duration: 300ms;
      transition-property: all;
      transition-timing-function: linear;
      &:hover {
        background-color: deeppink;
        color: #3b3b3b;
      }
    }
    .n2 {
      position: absolute;
      top: 50%;
      right: 5px;
      transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      width: 80px;
      height: 60px;
      background-color: #2b2b2b9f;
      color: whitesmoke;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 40px;
      border-radius: 10px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      -o-border-radius: 10px;
      transition-duration: 300ms;
      transition-property: all;
      transition-timing-function: linear;
      &:hover {
        background-color: deeppink;
        color: #3b3b3b;
      }
    }
  }
  .paggnation {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    width: 100px;
    height: 30px;
    background-color: #3b3b3b5d;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    .m1 {
      width: 20px;
      height: 20px;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      border: 2px solid black;
      transition: all 300ms linear;
      -webkit-transition: all 300ms linear;
      -moz-transition: all 300ms linear;
      -ms-transition: all 300ms linear;
      -o-transition: all 300ms linear;
      background-color: whitesmoke;
    }
    .activebulet {
      background-color: darkred;
    }
    .nonebulet {
      background-color: whitesmoke;
    }
  }
}
